################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DX11 Framework 2017/DX11 Framework 2017/.vs/DX11 Framework/v15/Browse.VC.opendb
